!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Rule of Three
    link(rel='stylesheet', href='/styles/css/main.css')
    link(rel='stylesheet', href='/styles/css/bootstrap.min.css')
  body
    block body